@model Dictionary<int,string>
@{
    ViewData["Title"] = "Home Page";
}
<p>
    SummerNote - библиотека, позволяющая создать текстовый редактор с полноценными возможстями выделения текста:
    изменение шрифта, выделение цветов, вставка списков, таблиц, картинок и т.д.
    Я не смог найти другие бесплатные opensource-библиотека, поддерживающие вставку картинок в текст, причем просто через буфер обмена.
</p>
<p>
    Это простой проект, демонстрирующий применение этой библиотеки совместно с ASP.NET для создания мини-блога. 
    <a href="https://summernote.org/getting-started/">Подробнее о SummerNote.</a>
</p>

<h3>Список сообщений</h3>


@foreach (var kvp in Model)
{
    <p>
        <a asp-action="ShowPost" asp-route-id="@kvp.Key">@kvp.Value</a>
    </p>
}

<br />
<p>
    <a asp-action="Edit"><i>Добавить новое сообщение...</i></a>
</p>